{% extends "JKH_site/base.html" %}
{% block title %} Информация {% endblock title %}
{% block content %}
  <div class="container text-center">
      <p>
        Добро пожаловать на платформу взаимопомощи для жителей Северского района. Это некоммерческий проект, который
          создан для взаимодействия между жителями нашего района. Для того чтобы начать пользоваться платформой,
          Вам не обязательно регистрироваться. Без регистрации Вам будут доступны для просмотра разделы
          <a href="#">товары</a>, <a href="#">услуги</a>, <a href="#">новости</a>, Вы сможете читать общий чат.
          <a href="#">Регистрация</a> на платформе позволит Вам писать в общий чат, оставлять отзывы на услуги и товары
          Ваших соседей, предлагать к публикации новости и объявления, а также размещать на платформе свои товары и
          услуги.
      </p>
  </div>

      

{% endblock %}